# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# ML Models
outputs/
*.pkl

# Logs
logs/
*.log

# VS Code
.vscode/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db

.env
